@{
    ViewBag.Title = "Ցանկապատին Վրայի Փոսերը";
    Layout = "~/Views/Shared/_StoriesLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#000;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="text-center">

            <img src="~/images/storiesHeader.png" />
        </div>
        <div class="text-center">
            <img src="~/images/StoriesTitle.png" />
        </div>
    </div>
    <br />
    <br />
    <script>
        function toggleTargetControl(targetName) {
            $("." + targetName).toggle();
        }

    </script>
    <div class="row">
        <div class="col-md-2"><button onclick="toggleTargetControl('answer3');" id="getAnswer" class="btn btn-danger" style="border:0px;">* Բառարան </button></div>
        <div class="col-md-8 answer3 text-left" id="answer3" style="display:none;">
            <ul class="list-group" style="font-weight:500;">
                <li class="list-group-item">ԸՄՊԵԼԻՔ - խմելիք</li>
                <li class="list-group-item">Ի ԴԵՐԵՒ - ի զուր, պարապ տեղ</li>
                <li class="list-group-item">ԽՈՒՍԱՓԻԼ- խոյս տալ, զգուշանալ</li>
                <li class="list-group-item">ԿԻԶԻՉ - այրող</li>
                <li class="list-group-item">ԿՈՒՇՏՈՒԿՈՒՌ - լման կշտացած</li>
                <li class="list-group-item">ՀԵՇՏ - դիւրին</li>
                <li class="list-group-item">ՀՆԱՐԱՄԻՏ - հնարող խելք ունեցող</li>
                <li class="list-group-item">ՍԱՏԱՐԵԼ- օգնել, օժանդակել</li>
                <li class="list-group-item">ՍՆՆԴԱՌՈՒԹԻՒՆ - սնունդ առնելը</li>
                <li class="list-group-item">ՓԱՓԿԱՆԿԱՏ - նրբանկատ, նուրբ վարմունք ունեցող</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:#c9e5fc;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="media-heading">Ցանկապատին Վրայի Փոսերը</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s1/s1.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Դաւիթ տասը տարեկան մանչուկ մըն էր, որ հակառակ խելացի ըլլալուն, չար ու  ջղայնոտ էր։  Բարկութեան պահուն ան կա՛մ խօսքով կը վիրաւորէր ընկերներն ու հարազատները, կա՛մ ալ կը հարուածէր ընկերները կամ քոյրը։  Օր մը հայրը իրեն տոպրակ մը գամ կու տայ՝ թելադրելով որ ամէն անգամ որ բարկանայ, գամ մը գամէ ցանկապատին վրայ։
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s1/s2.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Առաջին օրը Դաւիթ եօթը գամ կը գամէ։  Յաջորդող օրերուն կը սկսի նուազիլ գամերուն քանակը, որովհետեւ Դաւիթ հետզհետէ կը փորձէ զսպել իր բարկութիւնը, քանի որ իրեն համար աւելի հեշտ* էր ջղայնութիւնը զսպել, քան գամ գամել։  Վերջապէս կը հասնի այն օրը, երբ Դաւիթ երբեք պէտք չի զգար գամ գամելու, որովհետեւ կը յաջողի տեւաբար զսպել բարկութիւնը։  Դաւիթ հօրը կը տեղեկացնէ այս մասին, որ այս անգամ
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s1/s3.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        իրեն կը թելադրէ, որ իւրաքանչիւր անգամ որ կարենար զսպել բարկութիւնը, գամած գամերէն հատ մը քաշէր ցանկապատին վրայէն։<br />
                        Հետեւելով հօր թելադրութեան, Դաւիթ կը սկսի մէկ առ մէկ քաշել գամերը։  Որոշ ժամանակ ետք, երբ բոլոր գամերը քաշուած էին, ան ուրախութեամբ կը տեղեկացնէ հօրը, թէ գամ չէր մնացած ցանկապատին վրայ։  Հայրը տղուն ձեռքէն բռնած կը մօտենայ ցանկապատին՝  ըսելով. «Ապրի՛ս, տղաս, սակայն նայէ ցանկապատին վրայի
                        փոսերուն. ցանկապատը երբե՛ք նոյնը պիտի չըլլայ, որովհետեւ
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s1/s4.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        բարկութեան պահուն գործած արարքդ եւ արտասանած
                        վիրաւորական<br />
                        խօսքերդ անպայման իրենց հետքը պիտի ձգեն, զորս կարելի պիտի չըլլայ ամբողջովին դարմանել։ Հետեւաբար, տղաս, մի՛շտ փորձէ զսպել ջղայնութիւնդ, որպէսզի անդարմանելի սխալներ չգործես»։

                    </h3>
                </div>
            </div>
            <br /><br /><br />
            <hr />
        </div>
    </div>
</div>
