@{
    ViewBag.Title = "Հնարամիտ* Բանտարկեալը";
    Layout = "~/Views/Shared/_StoriesLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#000;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="text-center">

            <img src="~/images/storiesHeader.png" />
        </div>
        <div class="text-center">
            <img src="~/images/StoriesTitle.png" />
        </div>
    </div>
    <br />
    <br />
    <script>
        function toggleTargetControl(targetName) {
            $("." + targetName).toggle();
        }

    </script>
    <div class="row">
        <div class="col-md-2"><button onclick="toggleTargetControl('answer3');" id="getAnswer" class="btn btn-danger" style="border:0px;">* Բառարան </button></div>
        <div class="col-md-8 answer3 text-left" id="answer3" style="display:none;">
            <ul class="list-group" style="font-weight:500;">
                <li class="list-group-item">ԸՄՊԵԼԻՔ - խմելիք</li>
                <li class="list-group-item">Ի ԴԵՐԵՒ - ի զուր, պարապ տեղ</li>
                <li class="list-group-item">ԽՈՒՍԱՓԻԼ- խոյս տալ, զգուշանալ</li>
                <li class="list-group-item">ԿԻԶԻՉ - այրող</li>
                <li class="list-group-item">ԿՈՒՇՏՈՒԿՈՒՌ - լման կշտացած</li>
                <li class="list-group-item">ՀԵՇՏ - դիւրին</li>
                <li class="list-group-item">ՀՆԱՐԱՄԻՏ - հնարող խելք ունեցող</li>
                <li class="list-group-item">ՍԱՏԱՐԵԼ- օգնել, օժանդակել</li>
                <li class="list-group-item">ՍՆՆԴԱՌՈՒԹԻՒՆ - սնունդ առնելը</li>
                <li class="list-group-item">ՓԱՓԿԱՆԿԱՏ - նրբանկատ, նուրբ վարմունք ունեցող</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:#fed0d7;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="media-heading">Հնարամիտ* Բանտարկեալը</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s3/s1.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Ծերունի մը կ՛ապրէր գիւղի մը մէջ։ Ան կ՛ուզէր պարտէզին մէջ գետնախնձոր ցանել, սակայն հողը հերկելու ուժ չունէր։ Իր որդին, որ սովորաբար կ՛օգնէր իրեն, բանտարկուած էր։  Ծերունին նամակ մը կը գրէ տղուն ըսելով՝ «Ես շատ նեղուած եմ, որովհետեւ այս տարի պիտի չկարենամ գետնախնձոր ցանել. ես շատ ծեր եմ բահով հողը հերկելու, իսկ դուն ալ բանտն ես։ Եթէ քովս ըլլայիր ինծի կ՛օգնէիր»։
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s3/s2.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Կարճ ժամանակ ետք ծերունին հեռագիր մը կը ստանայ իր որդիէն որ կ՛ըսէ. «Հայրի՛կ, չըլլայ որ փորես հողը, որովհետեւ ես զէնքերը հոն պահած եմ»։

                        Յաջորդ առաւօտ կանուխ զինուորներ կու գան եւ ամբողջ պարտէզը կը փորեն, սակայն բան չեն գտներ։ Ծերունին շուարած՝ նոր նամակ մը կը գրէ տղուն եւ կը պատմէ պատահածը։ Որդին կը պատասխանէ. «Հայրի՛կ, հիմա կրնաս ցանել գետնախնձորներդ. ես բանտէն ասկէ աւելի չէի կրնար օգտակար ըլլալ քեզի…»։
                    </h3>
                </div>
            </div>
            <br /><br /><br />
            <hr />
        </div>
    </div>
</div>
