@{
    ViewBag.Title = "Լուսինը եւ Մայրը";
    Layout = "~/Views/Shared/_StoriesLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#000;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="text-center">

            <img src="~/images/storiesHeader.png" />
        </div>
        <div class="text-center">
            <img src="~/images/StoriesTitle.png" />
        </div>
    </div>
    <br />
    <br />
    <script>
        function toggleTargetControl(targetName) {
            $("." + targetName).toggle();
        }

    </script>
    <div class="row">
        <div class="col-md-2"><button onclick="toggleTargetControl('answer3');" id="getAnswer" class="btn btn-danger" style="border:0px;">* Բառարան </button></div>
        <div class="col-md-8 answer3 text-left" id="answer3" style="display:none;">
            <ul class="list-group" style="font-weight:500;">
                <li class="list-group-item">ԸՄՊԵԼԻՔ - խմելիք</li>
                <li class="list-group-item">Ի ԴԵՐԵՒ - ի զուր, պարապ տեղ</li>
                <li class="list-group-item">ԽՈՒՍԱՓԻԼ- խոյս տալ, զգուշանալ</li>
                <li class="list-group-item">ԿԻԶԻՉ - այրող</li>
                <li class="list-group-item">ԿՈՒՇՏՈՒԿՈՒՌ - լման կշտացած</li>
                <li class="list-group-item">ՀԵՇՏ - դիւրին</li>
                <li class="list-group-item">ՀՆԱՐԱՄԻՏ - հնարող խելք ունեցող</li>
                <li class="list-group-item">ՍԱՏԱՐԵԼ- օգնել, օժանդակել</li>
                <li class="list-group-item">ՍՆՆԴԱՌՈՒԹԻՒՆ - սնունդ առնելը</li>
                <li class="list-group-item">ՓԱՓԿԱՆԿԱՏ - նրբանկատ, նուրբ վարմունք ունեցող</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:#f9efb9">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="media-heading">Լուսինը եւ Մայրը</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s2/s1.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Ժամանակին Արեւը, Քամին եւ Լուսինը քոյրեր էին, իսկ Աստղը` անոնց մայրը։<br />
                        Օր մը, Որոտումն ու Կայծակը, որոնք անոնց հօրեղբայրն ու հօրաքոյրն էին, երեք քոյրերը ընթրիքի հրաւիրեցին։  Մայրերնին արտօնեց որ երթան՝ ըսելով թէ ինք պիտի սպասէր մինչեւ իրենց վերադարձը։
                        <br />
                        Արեւը, Քամին ու Լուսինը գացին ընթրիքի եւ կուշտուկուռ* կերան ու զուարճացան։  Արեւն ու Քամին բնաւ չմտածեցին իրենց մօր մասին. միայն Լուսինն էր, որ իր ուտելիքին մէկ մասը մէկդի դրաւ, որպէսզի վերադարձին մօրը տայ։
                        <br />
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s2/s2.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Երբ երեք քոյրերը տուն վերադարձան, Իրենց մայրը դիմաւորեց զիրենք եւ հարցուց. «Ի՞նչ բերիք ինծի համար»։  Արեւը պատասխանեց. «Ինչո՞ւ, բան մը պէ՞տք է բերէի, ես իմ հաճոյքիս համար գացի եւ ոչ թէ քու»։<br />  Նոյնն էր քամիին պատասխանը։
                        <br /><br />
                        Միայն Լուսինն էր, որ ըսաւ. «Մայրի՛կ, ես իմ բաժինիս միայն կէսը կերայ եւ մնացեալը քեզի բերի» ։  Մայրը, իր փափկանկատ* աղջկան բերածը ուտելէ ետք, աղջիկներուն դարձաւ եւ խօսքը նախ Արեւին ուղղելով ըսաւ. «Դուն անձնասէր եղար, գացիր, զուարճացար եւ բնաւ չմտածեցիր
                        տունը առանձին եղողին մասին։ Յետ այսու դուն պիտի
                        չսիրուիս մարդոց կողմէ, քու ճառագայթներդ այնքա՜ն կիզիչ պիտի ըլլան, որ պիտի այրեն ամէն ինչ, եւ մարդիկ պիտի խուսափին քեզմէ»։<br />
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s2/s3.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>

                        Այս պատճառաւ մինչեւ այսօր Արեւը շատ տաք է ու կիզիչ, եւ մարդիկ կը խուսափին անոր վնասակար ճառագայթներէն։<br />
                        Ապա խօսքը Քամիին ուղղելով՝ Աստղը ըսաւ. «Դուն ալ քրոջդ պէս անձնասէր եղար, հետեւաբար անոր

                        նման պիտի պատժուիս։ Պիտի փչես այնքան ուժգին, որ մարդիկ քեզ չսիրեն եւ խուսափին քեզմէ»։  <br />Այս պատճառով ալ քամին մինչեւ այսօր չի սիրուիր մարդոց կողմէ։<br />
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/Media/Stories/s2/s4.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <h3>
                        Վերջապէս, մայրը դառնալով երրորդ աղջկան՝ Լուսինին, ըսաւ.<br /> «Դուն անձնասէր չեղար, այլ քու ուրախութեանդ մէջ մտածեցիր նաեւ մօրդ մասին, ուրեմն դուն պիտի ըլլաս միշտ հանդարտ ու գեղեցիկ։ <br /> Դուն մութ գիշերը պիտի լուսաւորես, որով մարդիկ քեզ պիտի սիրեն»։ <br /><br /> Այս պատճառով Լուսինը մինչեւ այսօր միշտ փայլուն է ու գեղեցիկ, եւ մարդիկ կը սիրեն դիտել անոր գեղեցկութիւնը՝  զայն համարելով իբրեւ գեղեցկութեան խորհրդանիշ։
                    </h3>
                </div>
            </div>
            <br /><br /><br />
            <hr />
        </div>
    </div>
</div>
