@{
    ViewBag.Title = "Այծեր Եւ Գայլեր";
    Layout = "~/Views/Shared/_ProverbLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#000;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="text-center">

            <img src="~/images/proverbsHeader.png" />
        </div>
        <div class="text-center">
            <img src="~/images/ProverbsTitle.png" />
        </div>
    </div>
    <br />
    <br />
    <script>
    function toggleTargetControl(targetName) {
        $("." + targetName).toggle();
    }

    </script>
    <div class="row">
        <div class="col-md-2"><button onclick="toggleTargetControl('answer3');" id="getAnswer" class="btn btn-danger" style="border:0px;">* Բառարան </button></div>
        <div class="col-md-8 answer3 text-left" id="answer3" style="display:none;">
            <ul class="list-group" style="font-weight:500;">
                <li class="list-group-item">ԸՄՊԵԼԻՔ - խմելիք</li>
                <li class="list-group-item">Ի ԴԵՐԵՒ - ի զուր, պարապ տեղ</li>
                <li class="list-group-item">ԽՈՒՍԱՓԻԼ- խոյս տալ, զգուշանալ</li>
                <li class="list-group-item">ԿԻԶԻՉ - այրող</li>
                <li class="list-group-item">ԿՈՒՇՏՈՒԿՈՒՌ - լման կշտացած</li>
                <li class="list-group-item">ՀԵՇՏ - դիւրին</li>
                <li class="list-group-item">ՀՆԱՐԱՄԻՏ - հնարող խելք ունեցող</li>
                <li class="list-group-item">ՍԱՏԱՐԵԼ- օգնել, օժանդակել</li>
                <li class="list-group-item">ՍՆՆԴԱՌՈՒԹԻՒՆ - սնունդ առնելը</li>
                <li class="list-group-item">ՓԱՓԿԱՆԿԱՏ - նրբանկատ, նուրբ վարմունք ունեցող</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="media-heading">Այծեր Եւ Գայլեր</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Proverbs/1/Wolves_1.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <h3>
                Այծերը հաւաքուեցան եւ գայլերուն պատգամ ուղարկեցին ու ըսին. "Ինչո՞ւ մեր մէջ խռովութիւն ըլլայ եւ ոչ՝ խաղաղութիւն"։ Գայլերը շատ ուրախացան եւ այծերուն անթիւ նուէրներով հետեւեալ պատգամը ուղարկեցին. "Լսեցինք ձեր բարի խորհուրդը եւ գոհ ենք Աստուծմէ, որովհետեւ մեզի համար մեծ ուրախութիւն կը պատճառէ խաղաղութիւնը։ Յայտնենք նաեւ, որ հովիւն ու շուներն են պատճառը մեր կռիւին ու խռովութեան։ Հետեւաբար, եթէ զանոնք վերցնենք մէջտեղէն, շուտով խաղաղութիւնը կը վերահաստատուի"։
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Proverbs/1/Wolves_2.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <h3>
                Այծերը լսեցին, հաւատացին ու ըսին. <br />"Իրաւացի են գայլերը, որ մեզ կը սպաննեն, որովհետեւ շուներն ու հովիւը զիրենք կը հալածեն"։ Այսպիսով, այծերը վտարեցին շուներն ու հովիւը եւ երդում ըրին հարիւր տարի մնալ անխախտ սիրով։ Այծերը ցրուեցան լեռներն ու դաշտերը եւ սկսան ուրախանալ, ցնծալ ու խաղալ, որովհետեւ կ՛արածէին լաւ արօտներուն մէջ, կ՛ուտէին համեղ խոտեր, կը խմէին պաղ ջուրեր եւ կը վազվզէին, փառք տալով որ հասան լաւ ժամանակներու։
                <br />
                Գայլերը հարիւր օր համբերեցին, ապա հաւաքուեցան, յարձակեցան այծերուն վրայ եւ կերան զանոնք։
                <br /><br />
                <span class="pull-right text-capitalize">Վարդան Այգեկցի</span> 
            </h3>
        </div>
    </div>
    <br />
    <br />
</div>
