@{
    ViewBag.Title = "Առիւծն Ու Աղուէսը";
    Layout = "~/Views/Shared/_ProverbLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#000;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="text-center">

            <img src="~/images/proverbsHeader.png" />
        </div>
        <div class="text-center">
            <img src="~/images/ProverbsTitle.png" />
        </div>
    </div>
    <br />
    <br />
    <script>
    function toggleTargetControl(targetName) {
        $("." + targetName).toggle();
    }

    </script>
    <div class="row">
        <div class="col-md-2"><button onclick="toggleTargetControl('answer3');" id="getAnswer" class="btn btn-danger" style="border:0px;">* Բառարան </button></div>
        <div class="col-md-8 answer3 text-left" id="answer3" style="display:none;">
            <ul class="list-group" style="font-weight:500;">
                <li class="list-group-item">ԸՄՊԵԼԻՔ - խմելիք</li>
                <li class="list-group-item">Ի ԴԵՐԵՒ - ի զուր, պարապ տեղ</li>
                <li class="list-group-item">ԽՈՒՍԱՓԻԼ- խոյս տալ, զգուշանալ</li>
                <li class="list-group-item">ԿԻԶԻՉ - այրող</li>
                <li class="list-group-item">ԿՈՒՇՏՈՒԿՈՒՌ - լման կշտացած</li>
                <li class="list-group-item">ՀԵՇՏ - դիւրին</li>
                <li class="list-group-item">ՀՆԱՐԱՄԻՏ - հնարող խելք ունեցող</li>
                <li class="list-group-item">ՍԱՏԱՐԵԼ- օգնել, օժանդակել</li>
                <li class="list-group-item">ՍՆՆԴԱՌՈՒԹԻՒՆ - սնունդ առնելը</li>
                <li class="list-group-item">ՓԱՓԿԱՆԿԱՏ - նրբանկատ, նուրբ վարմունք ունեցող</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="media-heading">Առիւծն Ու Աղուէսը </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Proverbs/3/Proverb3_1.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <h3>
                Առիւծ մը կորիւնի մը ծնունդ տուաւ։ Կենդանիները հաւաքուեցան կորիւնը տեսնելու եւ ուրախանալու։<br />  Աղուէսը եկաւ եւ բազմութեան մէջ առիւծին բարձրաձայն նախատեց* ու անարգեց ըսելով թէ ա՞յդ է քու զօրութիւնդ, որ ծնունդ կու տաս միայն մէկ կորիւնի եւ ոչ բազմաթիւ կորիւններու։
                <br /> Առիւծը հանդարտօրէն պատասխանեց."Այո՛, ես ծնունդ կու տամ մէկ կորիւնի, բայց առիւծի ծնունդ կու տամ եւ ոչ թէ քեզ նման աղուէսի"։<br />
                <br />
                <span class="pull-right text-capitalize">Վարդան Այգեկցի</span>
            </h3>
        </div>
    </div>

    <br />
    <br />
</div>

