@{
    ViewBag.Title = "ProverbTwo";
    Layout = "~/Views/Shared/_ProverbLayoutPage.cshtml";
}
<div class="clearfix" style="margin:30px !important;">
    <br />
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8" style="color:#f9f7f4;background-color:#f75e74;border-left:4px solid #c62e4b;border-top:1px solid #c62e4b;border-bottom:1px solid #c62e4b;">
            <h4>
                Առակներ
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background-color: #f9f7f4; border:2px solid #CCC;border-top:0px;">
            <ul class="media-list">
                <li><br /></li>
                <li class="media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object" src="~/Media/Proverbs/2/1.jpg" alt="..." style="width:400px !important;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">Իմաստուն Զինուորը </h2>
                        <h3>
                            Իմաստուն զինուոր մը պատերազմի կ՛երթար. անոր երկու ոտքերը կաղ էին։<br />
                            Զինուորներէն մէկը անոր ըսաւ."Ո՛վ Ողորմելի, Ո՞ւր կ՛երթաս։ Քեզ իսկոյն կը սպաննեն, որովհետեւ չես կրնար փախչիլ"։ <br /> Իսկ ան պատասխանեց. "Ո՛վ անմիտ, ես փախելու համար չէ որ պատերազմի կ՛երթամ, այլ կանգնելու, կռուելու եւ յաղթելու"։ <br /> <br /> Վարդան Այգեկցի
                        </h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br />
