@{
    ViewBag.Title = "Մեր Մասին";
    Layout = "~/Views/Shared/_InnerLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#7e09c9;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="pull-left" style="float:left;width:273px;">
            <img src="~/images/logo200.png" />
        </div>
        <div class="text-center" style="float:left;padding-top:120px;">
            <h2 style="padding-left:100px !important;">ՓԹԻԹ-ի Մասին  </h2>
        </div>
        <div class="pull-right" style="float:right;width:200px;">
            <img src="~/images/logoSingle200.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><br />
            <p style="font-size:18px;">
                ՓԹԻԹ մանկապատանեկան պարբերաթերթը ծնունդ առած է Պէյրութի մէջ 2010 թուականին եւ տակաւին կը շարունակուի հրատարակուիլ։ <br /><br />
                Գալուստ Կիւլպէնկեան Հիմնարկի Հայկական Բաժանմունքին նախաձեռնութեամբ ու հովանաւորութեամբ, կարելի եղաւ ՓԹԻԹ-ը համացանցի աշխարհը փոխադրել, որպէսզի աշխարհասփիւռ հայ մանուկներն ու պատանիները,ամէն ամիս, կարելիութիւնը ունենան օգտուելու ՓԹԻԹ-ի բազմաբնոյթ բովանդակութենէն՝ դաստիարակչական խաղերէն, բարոյալից պատմութիւններէն ու առակներէն։<br /><br />
                ՓԹԻԹ-ի գլխաւոր բաղկացուցիչ տարրը զանազան բնոյթի խաղերն են՝ լեզուական, թուաբանական, ժամանցի եւն.։Մենք կը հաւատանք, որ խաղը դաստիարակչական մեծ ներուժ եւ կարողականութիւն  ունի. այն, ինչ որ դժուար է սորվեցնել դասական ձեւերով, կարելի է, շատ աւելի հեշտօրէն, սորվեցնել խաղերու միջոցով։ Այսպիսով, լեզուական խաղերու նպատակն է պատանիներուն հայերէնի բառամթերքը հարստացնել, իսկ թուաբանական խաղերունը՝ տրամաբանութիւնը մշակել եւ միաժամանակ օգտակար ու հաճելի ժամանց պարգեւել։<br /><br />
                ՓԹԻԹ կը յատկանշուի նաեւ խնամքով ընտրուած պատմուածքներով եւ առակներով. Անոնք թէեւ կարճ են, սակայն անպայման ունին բարոյական պատգամ մը։ Այսինքն երբ կարդաք զանոնք, ոչ միայն պիտի օգտուիք անոնց հրամցուցած մաքուր արեւմտահայերէնէն, այլեւ՝բարոյական պատգամներէն։ Իսկ յօդուածները, ապա անոնք զանազան բնոյթի են, ուր առաւելաբար կը շեշտուին ազգային ու առողջապահական նիւթեր։ <br /><br />
                Իսկ ՓԹԻԹ անունը ի՞նչ կը նշանակէ։ Փթիթ մաքուր հայերէն բառ մըն է, որ կը նշանակէ ծաղկում։ Հետեւաբար ՓԹԻԹ-ը կ՛օգնէ, որ իր մանուկ թէ պատանի ընթերցողները հայօրէն ծաղկին, ունենան բարոյական վեհ սկզբունքներ, ինչպէս նաեւ՝մայրենի լեզուի հարուստ բառապաշար։<br /><br />
                Բարի եկած էք ՓԹԻԹ-ի կայքը։  Ձեզի կը մաղթենք բարի վայելում եւ բարի ժամանց։<br /><br />
            </p>
        </div>
    </div>
</div>