@{
    ViewBag.Title = "ՓԹԻԹ";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div class="container" style="margin-top:100px;width:1000px;height:582px;">

    <span id="baseImage" style="z-index:-1000;
    position:absolute;">
        <img src="~/images/homepage/newHomePage.jpg" />
    </span>
    <span id="lightImage" style="z-index:-900;
    position:absolute;display:none;">
        <img src="~/images/homepage/light.png" />
    </span>
    <span id="merMassintImage" style="z-index:-800;
    position:absolute;display:none;">
        <img src="~/images/homepage/merMassin.png" />
    </span>
    <span id="lezvaganImage" style="z-index:-700;
    position:absolute;display:none;">
        <img src="~/images/homepage/lezvagan.png" />
    </span>
    <span id="jbidnerImage" style="z-index:-600;
    position:absolute;display:none;">
        <img src="~/images/homepage/jbidner.png" />
    </span>
    <span id="hotvadznerImage" style="z-index:-500;
    position:absolute;display:none;">
        <img src="~/images/homepage/hotvadzner.png" />
    </span>
    <span id="hanelougnerImage" style="z-index:-400;
    position:absolute;display:none;">
        <img src="~/images/homepage/hanelougner.png" />
    </span>
    <span id="badmoutyounerImage" style="z-index:-300;
    position:absolute;display:none;">
        <img src="~/images/homepage/badmoutyouner.png" />
    </span>
    <span id="aylKhagerImage" style="z-index:-200;
    position:absolute;display:none;">
        <img src="~/images/homepage/aylKhager.png" />
    </span>
    <span id="AragnerImage" style="z-index:-200;
    position:absolute;display:none;">
        <img src="~/images/homepage/Aragner.png" />
    </span>

    @*<div style="position:relative;top:372px;left:40px;width:120px;height:150px;background-color:red;">
        <a href="/Home/About" onmouseover="aylKhaghgerMouseIn(this); return;" onmouseout="aylKhaghgerMouseOut(this); return;">
            <span id="aylKhager">&nbsp;</span>
        </a>
    </div>
</div>*@
<div style="top:-240px;left:605px;width:150px;height:250px;position:relative;background-color:red;">
    <a href="/Home/About" onmouseover="lightMouseIn(this);return;" onmouseout="lightMouseOut(this);return;">
        <span id="lightDiv">&nbsp;</span>
        </a>
</div>
</div>
<script>
    function aylKhaghgerMouseIn(x) {
        document.getElementById("aylKhagerImage").style.display = "block";
    }

    function aylKhaghgerMouseOut(x) {
        document.getElementById("aylKhagerImage").style.display = "none";
    }
    function lightMouseIn(x) {
        document.getElementById("lightImage").style.display = "block";
    }

    function lightMouseOut(x) {
        document.getElementById("lightImage").style.display = "none";
    }
</script>

@*Riddles*@
@*<div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="color:#f9f7f4;background-color:#2a89d8;border-left:4px solid #4f88b7;border-top:1px solid #4f88b7;border-bottom:1px solid #4f88b7;">
            <h4>
                Հանելուկներ
            </h4>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10  text-center">
        <br/>
        <div class="row"  style="background-color:#f9f7f4;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h3 style="color:#4f88b7;"><b>&nbsp; 1 :</b>Ներսս հուր է Դուրսս՝ մուր Ի՞նչ եմ ես։</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><button onclick="toggleTargetControl('answer1');" id="getAnswer" class="btn btn-info" style="background-color:#4f88b7;border:0px !important;">պատասխան </button></div>
                    <h4 class="col-md-6 answer1 text-right" id="answer1" style="display:none;color:#4f88b7;"><span class=""><b>ծխնելոյզ</b></span></h4>
                </div>
                <hr />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h3 style="color:#4f88b7;"><b>&nbsp; 2 :</b>ձեռքիս մէջ ծաղիկ մը կայ, կը բացուի երբ անձրեւ գայ ի՞նչ եմ ես։ </h3>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><button onclick="toggleTargetControl('answer2');" id="getAnswer" class="btn btn-info" style="background-color:#4f88b7;border:0px !important;">պատասխան </button></div>
                    <h4 class="col-md-6 answer2 text-right" id="answer2" style="display:none;color:#4f88b7;"><span class=""><b>հովանոց</b></span></h4>
                </div>
                <hr />

            </div>
        </div>
    </div>*@