@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-2"> 
        </div>
    <div class="col-md-8"  style="height:500px; border:1px solid purple;">
        <div class="row"><div class="col-md-12"> </div> </div>
        <div></div>

    </div>
</div>
