@{
    ViewBag.Title = "Ժպիտներ";
    Layout = "~/Views/Shared/_HumorLayoutPagePP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#f75e74;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:130px !important;width:100%;" class="text-center">
        <div class="text-center">
            <img src="~/images/jbidHeader.jpg" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Jbid/jbid1.jpg" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Jbid/jbid2.jpg" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Jbid/jbid3.jpg" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Media/Jbid/jbid4.jpg" />
        </div>
    </div>
    <br />
    <br />
</div>

