
@{
    ViewBag.Title = "ԽՄԲԱԳՐԱԿԱՆ";
    Layout = "~/Views/Shared/_ArticlesLayoutPagPP.cshtml";
}
<div class="container" style="background-color:#f9f7f4;color:#f75e74;border-left:1px solid #808080;border-right:1px solid #808080;">
    <div style="margin-top:10px !important;width:100%;" class="text-center">
        <div class="text-center">
            <img src="~/images/articlesHeader.jpg" />
        </div>
    </div>
    <br />
    <br />
    <script>
    function toggleTargetControl(targetName) {
        $("." + targetName).toggle();
    }

    </script>
    <div class="row" style="background-color:#f0e4c0;">
        <div class="col-md-2"><button onclick="toggleTargetControl('answer3');" id="getAnswer" class="btn btn-danger" style="border:0px;">* Բառարան </button></div>
        <div class="col-md-8 answer3 text-left" id="answer3" style="display:none;">
            <ul class="list-group" style="font-weight:500;;background-color:#f9f7f4;">
                <li class="list-group-item">ԸՄՊԵԼԻՔ - խմելիք</li>
                <li class="list-group-item">Ի ԴԵՐԵՒ - ի զուր, պարապ տեղ</li>
                <li class="list-group-item">ԽՈՒՍԱՓԻԼ- խոյս տալ, զգուշանալ</li>
                <li class="list-group-item">ԿԻԶԻՉ - այրող</li>
                <li class="list-group-item">ԿՈՒՇՏՈՒԿՈՒՌ - լման կշտացած</li>
                <li class="list-group-item">ՀԵՇՏ - դիւրին</li>
                <li class="list-group-item">ՀՆԱՐԱՄԻՏ - հնարող խելք ունեցող</li>
                <li class="list-group-item">ՍԱՏԱՐԵԼ- օգնել, օժանդակել</li>
                <li class="list-group-item">ՍՆՆԴԱՌՈՒԹԻՒՆ - սնունդ առնելը</li>
                <li class="list-group-item">ՓԱՓԿԱՆԿԱՏ - նրբանկատ, նուրբ վարմունք ունեցող</li>
            </ul>
        </div>
    </div> 
    <div class="row" style="background-color:#f0e4c0;">
        <div class="col-md-12 text-center" > 
            <img src="~/Media/Articles/articleOne.jpg" />
        </div>
    </div>
</div>


